* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
.section1 {
  position: relative;
  background: url(../img/BG.jpg) center center;
  background-size: cover;
}
.bgimage {
  display: inline-block;
  padding-top: 50px;
  padding-left: 180px;
}
a {
  text-decoration: none;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  margin-bottom: 282px;
}
.menu li {
  padding-right: 36px;
}
nav {
  margin-top: -30px;
}
h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  color: #262626;
  margin-bottom: 15px;
  padding-left: 180px;
}
.first_p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  padding-left: 180px;
  margin-bottom: 28px;
}
button {
  margin-left: 180px;
  width: 200px;
  height: 55px;
  background: #ff6033;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 257px;
  cursor: pointer;
}
button:hover {
  transition: 2s;
  transform: scale(1.3);
  transform: rotate(360deg);
  background: #000;
}
button span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
button span:hover {
  color: red;
}
.scroll {
  position: absolute;
  width: 24px;
  height: 40px;
  background: url(/img/ScrollIcon.png);
  top: 80%;
  left: 50%;
  margin-bottom: 70px;
}
.section2 {
  background: radial-gradient(
      75.02% 160.36% at 50% 50%,
      rgba(0, 196, 196, 0.9) 0%,
      rgba(0, 183, 183, 0.9) 32.6%,
      rgba(0, 173, 173, 0.9) 68.02%,
      rgba(0, 156, 156, 0.9) 100%
    ),
    #00c4c4;
}
.section2_column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  color: #ffffff;
}
p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 14px;
}
.active_page {
  border-top: 3px solid #ff6033;
}
a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #262626;
}
.section3 {
  background-color: #70bfff;
  position: relative;
}
.section3_first_list {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}
.section3_list_item {
  height: 100px;
  width: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 277px;
}
.section3_list {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #262626;
  margin-top: 165px;
}
.section3_svg {
  display: flex;
  flex-direction: column;
}
.section3_flex {
  display: flex;
}
.section3_list_svg {
  list-style: none;
  margin-top: 165px;
  margin-bottom: 165px;
}
.section3_list_item_svg {
  height: 100px;
  width: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 1px;
}
.section3_tomatoes {
  position: absolute;
  top: 89px;
  left: 858px;
}
.section3_h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 299px;
  left: 776px;
}
.section4 {
  background: #ffe92f;
  position: relative;
  height: 1534px;
}
.section4_h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  text-align: center;
  color: #262626;
  padding-top: 92px;
  margin-bottom: 30px;
}
.section4_p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #262626;
  margin-bottom: 50px;
}
.section4_img {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}
.section4_1_img {
  position: absolute;

  left: 180px;
}
.section4_2_img {
  position: absolute;

  left: 956px;
}
.section4_3_img {
  position: absolute;
  top: 277px;
  left: 956px;
}
.section4_4_img {
  position: absolute;
  top: 560px;
  left: 180px;
}
.section4_5_img {
  position: absolute;
  top: 560px;
  left: 762px;
}
.section4_button {
  background: #5585a2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1359px;
  left: 490px;
  margin-bottom: 142px;
}
.section4_button_text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}
.section5 {
  background: url(../img/BG\ section5.png) center center no-repeat;
  background-size: cover;
}
.section5_h3 {
  margin-top: 144px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #262626;
  margin-bottom: 20px;
  margin-left: 180px;
}
.section5_h3_p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #262626;
  margin-bottom: 30px;
  margin-left: 180px;
}
.section5_form {
  margin-left: 180px;
  margin-right: 30px;
}
.section5_form_email {
  width: 570px;
  height: 55px;
  border: 1px solid #262626;
}
.section5_form_email::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  margin-right: 30px;
}
.section5_box_line {
  display: flex;
}
.section5_button {
  background: #96b92c;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 144px;
  margin-left: 30px;
}
.section5_text_button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.section6 {
  background: #b07cf7;
  margin: 0 auto;
}
.section6_h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  text-align: center;
  color: #ffffff;
  margin-top: 92px;
  margin-bottom: 30px;
}
.section6_first_p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}
.section6_flex_content {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.section6_first_div,
.section6_second_div,
.section6_third_div {
  width: 370px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
}
.section6_first_div {
  background: url(../img/thumbnail.png);
  margin-right: 30px;
}
.section6_second_div {
  background: url(../img/thumbnail2.png);
  margin-right: 30px;
}
.section6_third_div {
  background: url(../img/thumbnail3.png);
}
.section6_border1,
.section6_border2,
.section6_border3 {
  background: rgba(38, 38, 38, 0.5);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin-left: 41px;
  margin-bottom: 123px;
}
.section6_border_text_number {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 19px;
  color: #ffffff;
  padding-left: 14px;
}
.section6_border_text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 9px;
}
.section6_input {
  background: #f72b3b;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 55px;
  font-family: " Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 43%;
  margin-bottom: 92px;
}
footer {
  background: url(../img/footerBG.png) center center no-repeat;
  background-size: cover;
}
.footer_h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  text-align: center;
  color: #262626;
  padding-top: 80px;
  margin-bottom: 20px;
}
.footer_top_p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #262626;
  margin-bottom: 45px;
}
.footer_form {
  display: flex;
  flex-direction: column;
  width: 558px;
  margin-left: 180px;
  height: 445px;
}
#text,
#email1,
#number,
#textarea {
  margin-bottom: 15px;
  height: 50px;
  border: none;
  padding-left: 22px;
}
#text {
  background: #00c4c4;
  border-left: 6px solid #355b82;
}
#text::placeholder {
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}
#email1,
#number,
#textarea {
  background: rgba(0, 196, 196, 0.5);
}
#email1::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: white;
}
#number::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: white;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#textarea::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: white;
}
#textarea {
  resize: none;
  padding-top: 16px;
  height: 250px;
  margin-bottom: 120px;
}
.footer_column_form {
  display: flex;
}
.footer_info_form {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  color: #262626;
  margin-left: 121px;
  display: flex;
  flex-direction: column;
}
.footer_bottom_p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  color: #262626;
  margin-top: -7px;
  margin-bottom: 10px;
}
.footer_text_down {
  height: 90px;
  background: url(../img/BG_footer.png) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.footer_footer_p1 {
  margin-left: 180px;
  margin-top: 35px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #b9b9b9;
}
.footer_footer_p2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #b9b9b9;
  margin-right: 180px;
  margin-top: 36px;
}
.footer_logo_img {
  margin-top: 31px;
}
.footer_love {
  color: red;
}
